#Bengal \{\
   height: 300px;\
  width: 300px;\
  padding: 20px;\
  padding-top : 30px;\
\}\
h3 \{padding-left : 20px; \
\
\
\}\
\
#Fact \{ font-style: italic; \
margin: 10px;\
\} \
\
li span\{ font-weight:bold;\
\}\
ul \{ list-style-type:none;\
text-align: left;\
padding-left: 10px;\
  \
\}\
\
#Card\{ Border-style: solid ; \
  Border-color: lightgray;\
  Box-shadow: 5px 10px #888888;\
  Width: 340px;\
  \
 \}\
\
#Description \{\
  margin: 10px;\
  padding: 5px;\
  Border-style:solid;\
Border-color: lightgray;\
  \
\}\
#Text \{\
Margin: 10px;\
\}}
